@import "bootstrap-sprockets";
@import "bootstrap";
@import 'teams';


body {
  padding-top: 50px;
}


.team img {
  margin-right: 5px;
  height: 20px;
}

#matches ul {
  padding-left: 0;
  list-style-type: none;
}

.ranking {
  margin-right: 5px;
}

.spacer {
  margin: 10px;
}